/* Stilizare globală */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

/* Pagina de Login și Register */
body.login,
body.signup {
  background: #f5f5f5; /* Fundal gri deschis pentru întreaga pagină */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body.login .auth-wrapper-inner,
body.signup .auth-wrapper-inner {
  background-color: #ffffff; /* Fundal alb pentru formulare */
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
}

body.login h1,
body.signup h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #81c784; /* Verde deschis */
  font-weight: bold;
  border-bottom: 3px solid #81c784;
  padding-bottom: 0.5rem;
}
