.home-button-fixed {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.home-button-form {
  display: inline-block;
  background-color: #81c784;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.home-button-form:hover {
  background-color: #66bb6a;
}

/* Stil pentru butonul Google Login */
.google-login-wrapper {
  margin-top: 1rem;
  text-align: center;
}

.google-login-button {
  display: inline-block;
  background-color: white;
  color: #444;
  border: 1px solid #ccc;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.google-login-button:hover {
  background-color: #f7f7f7;
}

.google-login-button img {
  width: 20px;
  margin-right: 8px;
  vertical-align: middle;
}
